{% extends "layout.html" %}

{% block title %}
    Closest
{% endblock %}

{% block main %}
    <form action="/closest" method="post">
        <select name = "rideid">
            <option value="" disabled selected>--Select ride to find closest time to--</option>
            {% for ride in rides %}
                {% if ride.type == 0 %}
                    <option value="{{ ride.rideid }}"> Departure from {{ ride.airport }} on {{ ride.date }}</option>
                {% endif %}
                {% if ride.type == 1 %}
                    <option value="{{ ride.rideid }}"> Arrival at {{ride.airport }} on {{ ride.date }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button class="btn btn-primary" type="submit">Find</button>
    </form>
{% endblock %}
