{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <p>
        <b>Here are all of your rides!</b>
    </p>
    <table class = "table table-striped">
    <thead><tr><th>Airport</th><th>Type</th><th>Date</th><th>Status</th></tr></thead>
    <tbody>
    {% for ride in rides %}
        {% if ride.type == 0 %}
            <tr>
                <td>{{ ride.airport }}</td>
                <td>Departure</td>
                <td>{{ ride.date }}</td>
                <td>{{ ride.status }}</td>
            </tr>
        {% endif %}
        {% if ride.type == 1 %}
            <tr>
                <td>{{ ride.airport }}</td>
                <td>Arrival</td>
                <td>{{ ride.date }}</td>
                <td>{{ ride.status }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
    </table>

    <form action="/history" method="post" id="history">
      <div>
        <button type="submit">Clear History</button>
      </div>
    </form>
    <script type="text/javascript" src="/static/history.js"></script>

{% endblock %}