{% extends "layout.html" %}

{% block title %}
    Order
{% endblock %}

{% block main %}
    <form action="/order" id="registration" method="post">
        <b>Airport</b>
        <div class="form-group">
            <select name = "airport">
                <option value="" disabled selected>--Select your airport--</option>
                <option value="hvn">Tweed New Haven Airport (HVN)</option>
                <option value="bdl">Bradley International Airport (BDL)</option>
                <option value="lga">LaGuardia Airport (LGA)</option>
                <option value="jfk">JFK Airport (JFK)</option>
                <option value="ewr">Newark Airport (EWR)</option>
                <option value="hpn">Westchester County Airport (HPN)</option>
            </select>
        </div>
        <b>Date</b>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="date" type="date" placeholder="Date"/>
        </div>
        <b>Optimal Pickup Time</b>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="otime" type="time" placeholder="Optimal time of pickup"/>
        </div>
        <div class="form-group">
            <select name = "number">
                <option value="" disabled selected>--Number of passengers in your party--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>


        <form id="form-shower">
            <select id="myselect">
                <option value="" disabled selected>--Departure or Arrival--</option>
                <option value="arrival">Arrival</option>
                <option value="departure">Departure</option>
            </select>
        </form>

        <form name="arrival" id="arrival" style="display:none">
        <b>Latest Time of Pickup</b>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="etime" type="time" placeholder="Latest time of pickup"/>
        </div>
        <button class="btn btn-primary" type="submit">Order</button>
        </form>

        <form name="departure" id="departure" style="display:none">
            <b>Earliest Time of Pickup</b>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="etime" type="time" placeholder="Earliest time of pickup"/>
            </div>
            <div class="form-group">
                <select name = "location">
                    <option value="" disabled selected>--Enter pickup location--</option>
                    <option value="phelps">Phelps Gate</option>
                    <option value="science">Science Hill</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Order</button>
        </form>

        <script>
            $("#myselect").on("change", function() {
                $("#" + $(this).val()).show().siblings();
            })

            let airport = document.airport.value;
            let date = document.date.value;
            let otime = document.otime.value;
            let number = document.number.value;

            let departure = document.getElementById("departure");
            departure.onsubmit = function() {

            }

            let arrival = document.getElementById("arrival");
            arrival.onsubmit = function() {

            }
        </script>



{% endblock %}
