{% extends "layout.html" %}

{% block title %}
    Update
{% endblock %}

{% block main %}
    <p>
       <b>Here is your current ride information:</b><br />
       Airport: {{ airport }}<br />
       Date: {{ date }}<br />
       Optimal time: {{ otime }}<br />
       {% if type == "Departure" %}
            Earliest time: {{ etime }}<br />
        {% else %}
            Latest time: {{ etime }}<br />
        {% endif %}
       Number of people: {{ number }}<br />
       Type: {{ type }}<br />
   </p>
   <small>**Leave the fields you don't want to change blank**</small></br>
     <form action="/update2" method="post">
         <b>Type</b>
         <div class="form-group">
            <select name = "type">
                <option value="" disabled selected>--Departure or Arrival--</option>
                <option value="0">Departure</option>
                <option value="1">Arrival</option>
            </select>
        </div>
        <b>Airport</b>
        <div class="form-group">
            <select name = "airport">
                <option value="" disabled selected>--Select your airport--</option>
                <option value="HVN">Tweed New Haven Airport (HVN)</option>
                <option value="BDL">Bradley International Airport (BDL)</option>
                <option value="LGA">LaGuardia Airport (LGA)</option>
                <option value="JFK">JFK Airport (JFK)</option>
                <option value="EWR">Newark Airport (EWR)</option>
                <option value="HPN">Westchester County Airport (HPN)</option>
            </select>
        </div>
        <b>Date</b>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="date" type="date" placeholder="Date"/>
        </div>
        <b>Optimal Pickup Time</b></br>
        <small>In format: Hour:Minute:PM/AM</small>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="otime" type="time" placeholder="Optimal time of pickup"/>
        </div>
        <div class="form-group">
            <select name = "number">
                <option value="" disabled selected>--Number of passengers in your party--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </div>
        {% if type == "Departure" %}
        <b>Earliest Time of Pickup</b></br>
            <small>In format: Hour:Minute:PM/AM</small>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="etime" type="time" placeholder="Earliest time of pickup"/>
            </div>
        {% else %}
            <b>Latest Time of Pickup</b></br>
            <small>In format: Hour:Minute:PM/AM</small>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="etime" type="time" placeholder="Latest time of pickup"/>
            </div>
        {% endif %}
        <button class="btn btn-primary" type="submit">Update and check for matches</button>
    </form>
{% endblock %}